body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#no-button {
    transition: transform 0.5s;
}